<header>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">




<h1>Welcome to the Open edX<sup style='font-size: 65%'>&reg;</sup> platform!</h1>
<p>Chao mung.....</p>

            </div>
              <div class="course-search">
                <form method="get" action="/courses">
                  <label><span class="sr">Search for a course</span>
                    <input class="search-input" name="search_query" type="text" placeholder="Search for a course"></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">Search</span>
                  </button>
                </form>
              </div>

          </div>




        </div>

      </header>