<script type="text/javascript" src="${static}/js/i18n/en/djangojs.js"></script>
  <script type="text/javascript" src="${static}/js/ie11_find_array.js"></script>
  <link rel="icon" type="image/x-icon" href="${static}/images/favicon.ico" />
  <link rel="stylesheet" href="${static}/css/vendor/font-awesome.css" type="text/css" media="all" / >
  <link rel="stylesheet" href="${static}/css/vendor/jquery.qtip.min.css" type="text/css" media="all" / >
  <link rel="stylesheet" href="${static}/css/lms-main-v1.css" type="text/css" media="all" / >
   <script type="text/javascript" src="${static}/common/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/jquery-migrate.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/jquery.cookie.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/url.min.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/underscore.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/underscore.string.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/picturefill.js"></script>
  <script type="text/javascript" src="${static}/edx-ui-toolkit/js/utils/global-loader.js"></script>
  <script type="text/javascript" src="${static}/edx-ui-toolkit/js/utils/string-utils.js"></script>
  <script type="text/javascript" src="${static}/edx-ui-toolkit/js/utils/html-utils.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/require.js"></script>
  <script type="text/javascript" src="${static}/js/RequireJS-namespace-undefine.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/URI.min.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/backbone.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/json2.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/jquery-ui.min.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="${static}/js/vendor/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript" src="${static}/js/src/ajax_prefix.js"></script>
  <script type="text/javascript" src="${static}/js/src/jquery.immediateDescendents.js"></script>
  <script type="text/javascript" src="${static}/js/src/xproblem.js"></script>
  <script type="text/javascript" src="${static}/common/js/xblock/core.js"></script>
  <script type="text/javascript" src="${static}/common/js/xblock/runtime.v1.js"></script>
  <script type="text/javascript" src="${static}/lms/js/xblock/lms.runtime.v1.js"></script>
  <script type="text/javascript" src="${static}/js/src/utility.js"></script>
  <script type="text/javascript" src="${static}/js/src/logger.js"></script>
  <script type="text/javascript" src="${static}/js/user_dropdown_v1.js"></script>
  <script type="text/javascript" src="${static}/js/dialog_tab_controls.js"></script>
  <script type="text/javascript" src="${static}/js/src/string_utils.js"></script>
  <script type="text/javascript" src="${static}/js/form.ext.js"></script>
  <script type="text/javascript" src="${static}/js/src/ie_shim.js"></script>
  <script type="text/javascript" src="${static}/js/src/accessibility_tools.js"></script>
  <script type="text/javascript" src="${static}/js/toggle_login_modal.js"></script>
  <script type="text/javascript" src="${static}/js/src/lang_edx.js"></script>
  <script type="text/javascript" src="${static}/js/calculator.js"></script>
  <script type="text/javascript" src="${static}/js/feedback_form.js"></script>
  <script type="text/javascript" src="${static}/js/main.js"></script>
  <script type="text/javascript" src="${static}/js/sticky_filter.js"></script>
  <script type="text/javascript" src="${static}/js/query-params.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/moment-with-locales.js"></script>
  <script type="text/javascript" src="${static}/common/js/vendor/moment-timezone-with-data.js"></script>
   <script type="text/javascript" src="${static}/bundles/commons.js" ></script>