<script src="${static}/client/angular.min.js"></script>
<script src="${static}/client/ajax.js"></script>
<script src="${static}/client/ui.js"></script>
<script src="${static}/client/ui.directtives/ui.qTemplate.js"></script>
<script src="${static}/client/ui.directtives/ui.service.ajax.js"></script>
<script src="${static}/client/ui.directtives/ui.drectives.ajax.js"></script>
<script src="${static}/client/ui.directtives/ui.directitive.ajax.call.js"></script>
<script src="${static}/client/ui.directtives/ui.services.dialog.js"></script>
<script src="${static}/client/ui.directtives/ui.bootstrap.layout.js"></script>