<div title="${_//'Đặt lại mật khẩu'}">
<form-layout class="container-fluid"  md-cols="4,8" lg-cols="4,8">
    <form-template>
        <div>
            <span>${_//"Nhập mật khẩu"}</span>
            <input type="password" ng-model="$parent.reset_password.password" span="3">
        </div>
        <div>
            <div class="btn-toolbar pull-right" role="toolbar" span="12">
                <div class="btn-group">

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="$parent.doResetPassword();">${_//"Cập nhật"}</button>

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default"  ng-click="$doClose();">${_//"Đóng"}</button>
                </div>
            </div>
        </div>
    </form-template>
</form-layout>
</div>